version: '3'
# To start stack:
# $ docker-compose run -d
#
# To stop stack:
# $ docker-compose down
volumes:
  mongo_data:

services:
  # From v5.0.0, mongoDB requires atleast ARMv8.2-A microarchitecture to run.
  # So we're going with v4 to improve compatibility on SBCs such as
  # Raspberry Pi 4 and Odroid C2 with ARMv8.0-A
  mongo:
    image: mongo:4
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    networks:
      - app-tier

  app:
    image: krishnaalagiri/ssm:latest
    restart: always
    depends_on:
      - mongo
    ports:
      - "5000:5000"
    environment:
      CONNECTION_STRING: mongodb://root:password@mongo:27017
      PORT: 5000
    networks:
      - app-tier

networks:
  app-tier:
    driver: bridge
