# To start stack:
# $ docker compose up -d --build
#
# To stop stack:
# $ docker compose down
volumes:
  mongo_data:

services:
  # From v5.0.0, mongoDB requires atleast ARMv8.2-A microarchitecture to run.
  # So we're going with v4 to improve compatibility on SBCs such as
  # Raspberry Pi 4 and Odroid C2 with ARMv8.0-A
  mongo:
    image: mongo:4
    restart: always
    # Can be commented out if you don't want to expose the mongo port
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    networks:
      - app-tier

  ssm:
    image: ghcr.io/bearlike/simple-secrets-manager:latest
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: /api
    restart: always
    depends_on:
      - mongo
    ports:
      - "8080:8080"
      - "5000:5000"
    environment:
      CONNECTION_STRING: mongodb://root:password@mongo:27017
      TOKEN_SALT: docker-local-dev
      CORS_ORIGINS: http://localhost:8080,http://127.0.0.1:8080,http://localhost:5000,http://127.0.0.1:5000
      BIND_HOST: 0.0.0.0
      PORT: 5000
    networks:
      - app-tier

networks:
  app-tier:
    driver: bridge
